.controlElementsContainer {
    display: flex;
}

.taskInput{
    height: 35px;
    width: 33%;
    border: 2px solid;
    border-radius: 8px;
    padding-left: 10px;
    font-weight: bold;
}

.taskButton{
    margin-left: 4px;
    width: 15%;
    height: 40px;
    border: 2px solid;
    border-radius: 8px;
}